
<!-- desktop -->
<header>
<nav class="navbar">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="assets/img/logo.svg" alt="" width="112" height="28">
		</a>
	</div>

	<div class="navbar-burger"> <span></span> <span></span> <span></span> </div>

	<div class="navbar-menu">
		<div class="navbar-start">
			<div class="navbar-item nav-items" ng-include="'partials/nav.html'"></div>
		</div>
		<div class="navbar-end">
			<ul class="social inline navbar-item" ng-include="'partials/social-list.html'"></ul>
			<a class="navbar-item btn" href="/book">Call to Action!</a>
		</div>
	</div>
</nav>
</header>