$dark: #3E3E3E;
$darker: #3E3E3E;
$light: #ECECF0;
$green: #00A87B;
$yellow: #FFBB3B;
$red: #FF4633;
$white: #FFFFFF;
$black: #000000;
$blue: #436FB6;


$colors:
	"dark" $dark,
	"darker" $darker,
	"light" $light,
	"green" $green,
	"yellow" $yellow,
	"red" $red,
	"white" $white,
	"black" $black,
	"blue" $blue
;

@each $color in $colors{
	// .btn-color
	.btn-#{nth($color, 1)}{
	    background: nth($color, 2);
	    color: #fff;
	}
	// .color / color
	.#{nth($color, 1)}, #{nth($color, 1)}{
	    color: nth($color, 2);
	    a{
	        color: nth($color, 2);
	    }
	}
	// .color-bg
	.#{nth($color, 1)}-bg {
		background: nth($color, 2) !important;
	}
}








.light_gradient{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.light_gradient_{
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}