#notices{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 20em;
	margin: 1em;
    z-index: 999999;
	.item1{
		background: #fff;
		font-size: 0.75em;
		padding: 1em 2em;
		margin-bottom: 5px;
		color: $dark;
		box-shadow: 0 0 9px rgba(#000, 0.3);
		@include ani(0, fadeInRight, 0.5s);
	}
	@include bp(L-phone){
		top: 0;
	    margin: 0;
    	width: 100%;
	    bottom: inherit;
	    display: none;
		.item1{
    		background: $dark;
    		color: #fff !important;
    		text-align: center;
		}
	}
}