%p1em {
  padding: 1em;
}

.p0{padding: 0 !important;}
.m0{margin: 0 !important;}
.mt0{margin-top: 0 !important;}
.m1em{margin: 1em !important;}
.mb0{margin-bottom: 0 !important;}
.m2em{margin: 2em !important;}
.p1em{padding: 1em !important;}
.p2em{padding: 2em !important;}
.p3em{padding: 3em !important;}
.p4em{padding: 4em !important;}
.justify{text-align: justify;}
.h100{height: 100%;}

.pi{position: inherit;}
.pr{position: relative;}

a, li, img, div, span, input, textarea, button{
  outline: 0 !important;
  text-decoration: none !important;
  outline: none;
/*  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;*/
}

ul.inline{
  list-style: none;
  padding: 0;
  li{
    // float: left;
    display: inline-block;
  }
}
.hide{
  display: none !important;
}
.scroll{
  overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
}


// quickflex
// @media screen and (min-width: 769px)
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex:not(:last-child) {
    margin-bottom: 0.75rem;
}
.flex {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}


.item {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

[data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}