<div id="faq">





<div id="info_tabs" >

  <!-- Nav tabs -->
  <div class="info-header text-center">
    <div class="container" style="font-size: 13px;">
      <h1>We are here to help</h1>
      <p>This is a short list of our most frequently asked questions.</p>
    </div>
  </div>
  <ul class="nav nav-tabs m0">
    <li role="presentation" class="active tab-general" ng-click="faq_change('general')"><a>general</a></li>
    <li role="presentation" class="tab-returns" ng-click="faq_change('returns')"><a>returns</a></li>
    <li role="presentation" class="tab-shipping" ng-click="faq_change('shipping')"><a>shipping</a></li>
    <li role="presentation" class="tab-tech" ng-click="faq_change('tech')"><a>tech</a></li>
    <li role="presentation" class="tab-account" ng-click="faq_change('account')"><a>account</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="general">
<!--============ accordian general start ============-->
<div class="container">
          <h1 class="heading-primary">General Questions</h1>
          <div class="accordion">
            <dl class="m0">
              <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">How do I contact Customer Service?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>Email your questions or comments to <a href="mailto:email@gmail.com">email@gmail.com</a>. Your email will be responded to within one business day.</p>
              </dd>
              <dt>
                <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">What are your business hours?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <p>We are available to help you with your order Monday through Friday from 8 a.m. to 5 p.m. CST.</p>
              </dd>
              <dt>
                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">What if I wish to place a large order? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                <p>For bulk shipments in excess of 500 lbs, additional shipping options can be obtained via Customer Service at <a href="mailto:email@gmail.com">email@gmail.com</a>. Your email will be responded to within one business day..</p>
              </dd>
              <dt>
                <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">My credit card statement has a charge from store_name on it. Who is store_name?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
                <p>store_name is a trusted printing and fulfillment facility selected by your company to manage your online store.</p>
              </dd>
              <dt>
                <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">Can I change my store_name order, now that it has been placed?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
                <p>Changes cannot be made to your order once it is submitted.</p>
              </dd>
              <dt>
                <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">What is the currency price of items online?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
                <p>Prices online are set in US Dollar and all purchases made through our store will be in US Dollar Currency.</p>
              </dd>
              <dt>
                <a href="#accordion7" aria-expanded="false" aria-controls="accordion7" class="accordion-title accordionTitle js-accordionTrigger">How do I pay for my order?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion7" aria-hidden="true">
                <p>We accept Visa, MasterCard, Discover and American Express, as well as debit cards with Visa or MasterCard logo.</p>
              </dd>
              <dt>
                <a href="#accordion7" aria-expanded="false" aria-controls="accordion7" class="accordion-title accordionTitle js-accordionTrigger">When does my credit card get charged? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion7" aria-hidden="true">
                <p>At the time you place your order, we’ll pre-authorize your card for the total amount including all applicable taxes and shipping charges. Once we successfully ship your order we will collect payment from your credit card.</p>
              </dd>
              <dt>
                <a href="#accordion8" aria-expanded="false" aria-controls="accordion8" class="accordion-title accordionTitle js-accordionTrigger">What is a pre-authorization?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion8" aria-hidden="true">
                <p>At the time that you submit your order, we will request that your financial institution create a pre-authorization hold on your account. This means that we have not actually charged your account so you are not responsible to pay anything or incur any interest yet. Only once we successfully ship your order will we collect payment from your credit card. Any items not available for shipping will be removed and your charge will only settle for the items available for shipping. </p>
                <p>In the event that your entire order is cancelled for any reason, prior to shipment, pre-authorization holds naturally expire within 15-30 days depending on your financial institution.</p>
              </dd>
              <dt>
                <a href="#accordion9" aria-expanded="false" aria-controls="accordion9" class="accordion-title accordionTitle js-accordionTrigger">Does my billing address have to match the address on file with the credit card?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion9" aria-hidden="true">
                <p>Yes. For credit card verification you must enter your billing address exactly as it appears on your credit card statement. However, the shipping address you wish ship to does not need to match your billing or credit card address.</p>
              </dd>
            </dl>
          </div>
        </div>
<!--============ accordian general start ============-->
    </div>
    <div class="tab-pane" id="returns">
    <!--============ accordian returns start ============-->
<div class="container">
          <h1 class="heading-primary">Return Questions</h1>
          <div class="accordion">
            <dl>

              <!-- item -->
              <dt>
                <a href="#accordion21" aria-expanded="false" aria-controls="accordion21" class="accordion-title accordionTitle js-accordionTrigger">What is the policy on returns?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion21" aria-hidden="true">
                <p>ALL SALES OF CDs, DVDs, PRINT ITEMS, AND PERSONALIZED ITEMS ARE FINAL. store_name will accept returns or exchanges of other items within thirty (30) days of date of shipment. A fifteen percent (15%) restocking fee will apply. Purchaser is responsible for the cost of shipping for returned items. All items must be returned with original tags and packaging. Returns will be processed within 7-10 days of receipt. </p>
              </dd>

              <!-- item -->
              <dt>
                <a href="#accordion22" aria-expanded="false" aria-controls="accordion22" class="accordion-title accordionTitle js-accordionTrigger">What is the return shipping address?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion22" aria-hidden="true">
                <address>
                  store_name<br>
                200 Swisher Road<br>
                Lake Dallas, TX 75065 USA<br>
                ATTN: Customer Support
                </address>
              </dd>
              
              
              
            </dl>
          </div>
        </div>
<!--============ accordian returns end ============-->
    </div>
    <div class="tab-pane" id="shipping">
<!--============ accordian shiipping start ============-->
<div class="container">
          <h1 class="heading-primary">Shipping Questions</h1>
          <div class="accordion">
            <dl>

              <!-- item -->
              <dt>
                <a href="#accordion11" aria-expanded="false" aria-controls="accordion11" class="accordion-title accordionTitle js-accordionTrigger">Shipping Transit Times</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion11" aria-hidden="true">
                <p class="strong">Domestic Shipments</p>
                <ul style="padding-left: 30px; list-style: inside disc;">
                  <li>Economy - 5 to 7 business days from product availability</li>
                  <li>Ground - up to 4 business days from product availability</li>
                  <li>2nd Day - up to 2 business days from product availability</li>
                  <li>Standard Overnight - 1 business day from product availability</li>
                </ul>
                <p class="strong">International Shipments</p>
                <ul style="padding-left: 30px; list-style: inside disc;">
                    <li>International Economy - Typically 7 to 15 business days from product availability (depending on country)</li>
                    <li>International Priority - Typically 5 to 7 business days from product availability (depending on country)</li>
                    <li>International Mail - 3 to 4 weeks from product availability</li>
                    <li>Canada Economy - 5 to 10 business days from product availability</li>
                    <li>Australia Economy - 7 to 15 business days from product availability</li>
                    <li>UK Economy - 7 to 15 business days from product availability</li>
                  </ul>
                  <p><strong><em>*Transit times do not include order processing times*</em></strong></p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion12" aria-expanded="false" aria-controls="accordion12" class="accordion-title accordionTitle js-accordionTrigger">How long will it take to produce my order before it ships?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion12" aria-hidden="true">
                <p>All items with current product availability will ship within 1-3 business days. However, all custom print items will take 3-5 business day to process. For example, if you choose expedited shipping of 2nd Day Air shipping - assume 3 to 5 business days to produce your order plus 2 business days for shipping. Custom Banners and non-inventory specialty items will ship within 7-10 days.</p>

                <p>Same day shipping is available for in-stock non-customized products using expedited shipping service (Standard Overnight or 2Day) only if your order is placed by 12:00 noon CST.</p>

                <p>If an item(s) is not available at the time your order is shipped, the item(s) will be removed from your order and the remainder of your order will ship. Please allow 1-3 days for order processing. We will send you an email notification upon shipment referencing those items that were shipped, as well as those item(s) removed. The amount originally authorized on your payment will be adjusted accordingly to only reflect those item(s) shipped.</p>

                <p>Please call our support team to check on product availability and/or status of your order.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion13" aria-expanded="false" aria-controls="accordion13" class="accordion-title accordionTitle js-accordionTrigger">Can I ship my order to my P.O. Box? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion13" aria-hidden="true">
                <p>Yes, but only the U.S. Postal Service can deliver to a P.O. Box. UPS and FedEx cannot deliver packages to P.O. Boxes.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion14" aria-expanded="false" aria-controls="accordion14" class="accordion-title accordionTitle js-accordionTrigger">Can I ship to more than one location on one order? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion14" aria-hidden="true">
                <p>There is a limit of one “ship to” address per order.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion15" aria-expanded="false" aria-controls="accordion15" class="accordion-title accordionTitle js-accordionTrigger">Why didn't I receive my order this weekend even though I selected an expedited service?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion15" aria-hidden="true">
                <p>Expedited (Overnight and 2-Day delivery) shipments are delivered Monday through Friday ONLY and is dependent upon product availability and order process time on customized items. Overnight Orders placed by NOON CST Friday will arrive on MONDAY. 2-Day Air Orders placed by NOON CST Friday will arrive Tuesday. Please be certain to give a physical ship to address (no P.O. boxes) for expedited shipments..</p>
              </dd>
            
              <!-- item -->
              <dt>
                <a href="#accordion16" aria-expanded="false" aria-controls="accordion16" class="accordion-title accordionTitle js-accordionTrigger">What is FedEx International Mail?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion16" aria-hidden="true">
                <p>FedEx International Mail is a service that FedEx provides to ship internationally using the local postal service.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion17" aria-expanded="false" aria-controls="accordion17" class="accordion-title accordionTitle js-accordionTrigger">How does FedEx International Mail work?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion17" aria-hidden="true">
                <p>A FedEx courier will pick up your order and take it to a FedEx mail sorting facility. The postal agency sorts, stamps and transports your mail directly to the appropriate foreign postal authorities. The foreign postal authorities deliver your mail.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion18" aria-expanded="false" aria-controls="accordion18" class="accordion-title accordionTitle js-accordionTrigger">Should I ship to my PO Box when using FedEx International Mail?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion18" aria-hidden="true">
                <p>Yes, please use any address that can accept postal mail. If your destination cannot accept mail, then you will need to use your PO Box or another FedEx service.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion19" aria-expanded="false" aria-controls="accordion19" class="accordion-title accordionTitle js-accordionTrigger">How long does FedEx International Mail take for delivery?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion19" aria-hidden="true">
                <p>Please allow 3-5 business days to process your order then 3-4 weeks for delivery. With any postal service, weather and customs may delay your order further. Use FedEx International Mail to send materials that are less time sensitive than those you would ship using FedEx shipping services.</p>
              </dd>
              
              <!-- item -->
              <dt>
                <a href="#accordion110" aria-expanded="false" aria-controls="accordion110" class="accordion-title accordionTitle js-accordionTrigger">Will I receive tracking information if I ship with FedEx International Mail?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion110" aria-hidden="true">
                <p>No, since your order will be shipped via the postal service, there will not be any tracking information.</p>
              </dd>
              
            </dl>
          </div>
        </div>
<!--============ accordian shiipping end ============-->
    </div>

    
    <div class="tab-pane" id="tech">
       <!--============ accordian returns start ============-->
<div class="container">
          <h1 class="heading-primary">Technology Questions</h1>
          <div class="accordion">
            <dl>

              <!-- item -->
              <dt>
                <a href="#accordion41" aria-expanded="false" aria-controls="accordion41" class="accordion-title accordionTitle js-accordionTrigger">To Enable or Disable Java or Javascript:</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion41" aria-hidden="true">
                <div style="padding-left: 30px; padding-bottom: 10px;">
                  <strong>In Internet Explorer, how do I enable or disable Java or JavaScript?</strong>
                    <ol style="padding-left: 30px; list-style-type: decimal;" start="1">
                      <li>From the Tools menu, or the Tools drop-down in the upper right, choose Internet Options...</li>
                      <li>Click the Security tab.</li>
                      <li>Click Custom Level...</li>
                      <li>Scroll to the "Scripting" section of the list. Click Disable or Enable.</li>
                      <li>Close and restart your browser.</li>
                    </ol>
                  <strong>In Firefox, how do I turn Java and JavaScript off or on?</strong>
                    <ol style="padding-left: 30px; list-style-type: decimal;" start="1">
                      <li>In Firefox for Windows, from the Tools menu, select Options...</li>
                      <li>In Firefox for Mac OS X, from the Firefox menu, select Preferences...</li>
                      <li>In Firefox 1.5 or later, click Content; in Firefox 1.0, in the list on the left, select Web Features.</li>
                      <li>Check (to enable) or uncheck (to disable) Enable JavaScript and Enable Java.</li>
                    </ol>
                  <strong>In Chrome, how do I turn Java and JavaScript off or on?</strong>
                    <ol style="padding-left: 30px; list-style-type: decimal;" start="1">
                      <li>Open Chrome browser &amp; go to the main menu</li>
                      <li>Scroll down until you see the Privacy section &amp; click the button marked Content Settings...</li>
                      <li>Under the Javascript section you can set your Javascript options.</li>
                    </ol>
                </div>
              </dd>

              <!-- item -->
              <dt>
                <a href="#accordion42" aria-expanded="false" aria-controls="accordion42" class="accordion-title accordionTitle js-accordionTrigger">To Enable or Disable Cookies:</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion42" aria-hidden="true">
                <div style="padding-left: 30px;">
                  <strong>In Internet Explorer, how do I enable or disable Cookies?</strong>
                  <ol style="padding-left: 30px; list-style-type: decimal;" start="1">
                    <li>From the Tools menu, or the Tools drop-down in the upper right, choose Internet Options...</li>
                    <li>Click the Privacy tab.</li>
                    <li>Click the Advanced Button.</li>
                    <li>Click Override automatic cookie handling to customize.</li>
                    <li>Click Ok.</li>
                    <li>Close and restart your browser.</li>
                  </ol>
                  <strong>In Firefox, how do I turn Cookies off or on?</strong>
                  <ol style="padding-left: 30px; list-style-type: decimal;" start="1">
                    <li>In Firefox for Windows, from the Tools menu, select Options...</li>
                    <li>In Firefox for Mac OS X, from the Firefox menu, select Preferences...</li>
                    <li>Click Privacy Tab.</li>
                    <li>Under History's drop down box select 'Use custom settings for history'</li>
                    <li>You'll have option for cookies here.</li>
                  </ol>
                  <strong>In Chrome, how do I turn Cookies off or on?</strong>
                  <ol style="padding-left: 30px; list-style-type: decimal;" start="1">
                    <li>Open Chrome browser &amp; go to the main menu</li>
                    <li>Scroll down until you see the Privacy section &amp; click the button marked Content Settings...</li>
                    <li>Under the Cookies section you can set your cookie options.</li>
                  </ol>
                </div>
              </dd>
              
              
              
            </dl>
          </div>
        </div>
<!--============ accordian returns end ============-->
    </div>
    <div class="tab-pane" id="account">
<!--============ accordian account start ============-->
<div class="container">
          <h1 class="heading-primary">Account Questions</h1>
          <div class="accordion">
            <dl>

              <!-- item -->
              <dt>
                <a href="#accordion51" aria-expanded="false" aria-controls="accordion51" class="accordion-title accordionTitle js-accordionTrigger">How do I log into the MY ACCOUNT section of the store_name?</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion51" aria-hidden="true">
                <p>In the store_name cart, click “My Account” at the top of the page.</p>
              </dd>

              <!-- item -->
              <dt>
                <a href="#accordion52" aria-expanded="false" aria-controls="accordion52" class="accordion-title accordionTitle js-accordionTrigger">Do I have to create an account to place an order? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion52" aria-hidden="true">
                <p>An account is automatically created the first time you log-in, but you will be prompted to add additional information needed to place an order.</p>
              </dd>

              <!-- item -->
              <dt>
                <a href="#accordion53" aria-expanded="false" aria-controls="accordion53" class="accordion-title accordionTitle js-accordionTrigger">Can I change my email address or billing and shipping addresses for MY ACCOUNT? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion53" aria-hidden="true">
                <p>Yes, simply click on “My Account” at the top of the page, enter your updated information, and click the “Update” button.</p>
              </dd>

              <!-- item -->
              <dt>
                <a href="#accordion54" aria-expanded="false" aria-controls="accordion54" class="accordion-title accordionTitle js-accordionTrigger">Does the system remember my last order? </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion54" aria-hidden="true">
                <p>Your store_name account will have your previous orders on file for future reference.</p>
              </dd>

              
              
              
            </dl>
          </div>
        </div>
<!--============ accordian account end ============-->
    </div>
  </div>

</div>










<script>
//uses classList, setAttribute, and querySelectorAll
//if you want this to work in IE8/9 youll need to polyfill these
(function(){
  var d = document,
  accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
  setAria,
  setAccordionAria,
  switchAccordion,
  touchSupported = ('ontouchstart' in window),
  pointerSupported = ('pointerdown' in window);
  
  skipClickDelay = function(e){
    e.preventDefault();
    e.target.click();
  }

    setAriaAttr = function(el, ariaType, newProperty){
    el.setAttribute(ariaType, newProperty);
  };
  setAccordionAria = function(el1, el2, expanded){
    switch(expanded) {
      case "true":
        setAriaAttr(el1, 'aria-expanded', 'true');
        setAriaAttr(el2, 'aria-hidden', 'false');
        break;
      case "false":
        setAriaAttr(el1, 'aria-expanded', 'false');
        setAriaAttr(el2, 'aria-hidden', 'true');
        break;
      default:
        break;
    }
  };
//function
switchAccordion = function(e) {
  console.log("triggered");
  e.preventDefault();
  var thisAnswer = e.target.parentNode.nextElementSibling;
  var thisQuestion = e.target;
  if(thisAnswer.classList.contains('is-collapsed')) {
    setAccordionAria(thisQuestion, thisAnswer, 'true');
  } else {
    setAccordionAria(thisQuestion, thisAnswer, 'false');
  }
    thisQuestion.classList.toggle('is-collapsed');
    thisQuestion.classList.toggle('is-expanded');
    thisAnswer.classList.toggle('is-collapsed');
    thisAnswer.classList.toggle('is-expanded');
  
    thisAnswer.classList.toggle('animateIn');
  };
  for (var i=0,len=accordionToggles.length; i<len; i++) {
    if(touchSupported) {
      accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
    }
    if(pointerSupported){
      accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
    }
    accordionToggles[i].addEventListener('click', switchAccordion, false);
  }
})();
</script>





</div>