<style type="text/css">
	.contain-it{
		/*background: transparent !important;*/
		position: relative;
	}
</style>

<div class="mission-content">
	<div class="centerer">
		<!-- <h1>Welcome to <br><span class="green">Omar Habash's Portfolio</span></h1> -->
		<h1>Omar Habash's Portfolio</h1>
		<p class="mono">Development tools and techniques are constantly changing. I am always on the lookout for better, more efficiant ways to improve my approach to development. <span class="yellow">I am ready</span> to design and deploy the best and most <span class="green">elegant code</span> for an <span class="blue">extraordinary product</span> worthy of the time invested; <span class="red">with a team</span> on the same mission to deliver the best possible product.</p>
	</div>
	<div class="contact level">
		<a class="level-item red">dallas, tx</a>
		<a href="tel:1-214-470-5176" class="level-item yellow">214-470-5176</a>
		<a href="mailto:ContactOmarNow@gmail.com" class="level-item blue">ContactOmarNow@gmail.com</a>
		<a href="/chat" class="level-item green">chat</a>
	</div>
</div>