<style>
	.main-left,.logo{
		display: none;
	}
	.contain-it{
		margin-top: -8px;
	    height: 100vh;
	    background: transparent !important;
	    overflow: hidden;
	}
	.main-contain{
		padding-top: 0;
	}
	h1{
		margin-bottom: 0;
	}
	.centerer{
	    background: url(assets/img/bg3_blur.png);
    	background-attachment: fixed;
    	background-size: cover;
    	padding: 1em;
    	/*top: 40%;*/
	    /*width: 80%;*/
	    /*width: 20em;*/
	}
	.cc{
		color: #fff;
	}
	p{
		margin: 0;
	}
	a.mail{
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: 20vh;
		font-size: 0.8em;
		padding-bottom: 1em;
	}
	.main-right-contain{
		height: 100vh;
	}
</style>

<div class="cc">
	<div class="centerer tac">
		<!-- <h1 class="mono">OMAR HABSH</h1> -->
		<p class="mono">The mobile version of this website is coming soon. For a better experience visit this website from a modern browser on your desktop</p>
	</div>
	<a href="mailto:ContactOmarNow@gmail.com" class="mail mono">ContactOmarNow@gmail.com</a>
</div>